
.b{
    background-color: aqua;
    height: 200px;
    width: 200px;
}
#i1{
    background-color: antiquewhite;
    height: 200px;
    width: 200px;
}
#i2{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}
#i3{
    height: 200px;
    width: 200px;
    background-color: black;
}
#i4{
    height: 200px;
    width: 200px;
    background-color: bisque;
}
#i5{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}